body {
	margin: 0;
	font-family: 'Courier';
	background-image: url('assets/portfolio_background.jpg');
	background-size: cover;
	background-position: center;
	color: lightgray;
}

.App {
	text-align: center;
	display: flex;
	justify-content: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.name {
	font-size: 4vw;
	text-align: left;
	color: #8795ce;
	margin-bottom: 0;
}
.bioText {
	font-size: 2vw;
	text-align: left;
	margin-bottom: 0vh;
}
.bio {
	margin-top: 0vh;
}
.contact {
	margin-top: 6vh;
	align-items: center;
	justify-content: center;
	margin-right: 5vw;
}

img {
	--pic-height: 52vh;
	height: var(--pic-height);
	width: calc(var(--pic-height) / 1.2);
}

.icon {
	height: 6vh;
	width: min(6vw, 6vh);
	margin: 1vw;
}

.icon:hover {
	cursor: pointer;
}

.cardImg {
	height: 21vh;
	width: 17vw;
}

.left {
	margin-left: 6vw;
	margin-top: 0;
	margin-right: 2vw;
}

.projects {
	display: flex;
	margin-left: 0;
}

.projects h2 {
	font-size: 5vh;
	margin-bottom: 0;
}

.projectDisplay {
	display: flex;
	justify-content: center;
}

.blogDisplay {
	display: flex;
}

.card {
	margin: 1vh;
	transition: transform 0.3s ease-in-out;
	margin-top: 0;
}
.card:hover {
	transform: scale(1.1);
}

img {
	border-radius: 5px;
}
h2 {
	color: #8795ce;
	font-size: 4vh;
	text-decoration: underline;
}

.projectTitle {
	height: 5vh;
	margin-bottom: 3vh;
	font-size: 2.4vh;
}

a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: lightblue;
}

.email {
	color: #8795ce;
	margin-bottom: 0;
	margin-top: 0;
}
.education {
	font-size: 2.2vh;
	margin-bottom: 0;
}
h4 {
	margin-bottom: 0;
}

#message {
	font-size: 2.5vh;
}
